fastapi>=0.111.0
uvicorn==0.24.0.post1
sqlalchemy>=2.0.36
psycopg[binary]
pydantic>=2.7.0
pydantic-settings>=2.0.0
python-dotenv==1.0.0
python-jose[cryptography]==3.3.0
passlib[argon2]==1.7.4
python-multipart==0.0.6
alembic
google-generativeai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
cloudinary
email-validator

